!!!
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name
          = current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
          %li.side-header__box__menu__edit-user
        .side-header__box__menu
          %i.side-header__box__menu__new-group
            = link_to "/groups/new" , method: :get do
              %i.fa.fa-edit
              %span<>
          %i.side-header__box__menu__edit-user
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
              %span<>

    .groups
      %a
      - current_user.groups.each do |group|
        .group{id: "#{group.id}", value: "#{group.name}"}
          %p.group__group-name{id: "#{group.id}"}
            = link_to group.name ,group_messages_path(group.id), method: :get 
            %span<>
          %p.group__latest-name{id: "#{group.id}ms"}
            = link_to group.show_last_message , group_messages_path(group.id) , method: :get
            %span<>